
<nav class="navbar navbar-expand-lg navbar-dark container-fluid">
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      class="img-fluid"
      src="assets/images/logo.png"
      alt="Starr Apps"
      style="height: 30px;"
    />
    Mini Netflix</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/movies']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Movies</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/favorites']"
          routerLinkActive="active"
          >Favorites</a
        >
      </li>
    </ul>

    <!-- <form
      class="form-inline my-2 my-lg-0 text-center"
      (ngSubmit)="searchMovies(form)"
      #form="ngForm"
    >
      <input
        name="searchInput"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        ngModel
        required
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        [disabled]="!form.valid"
      >
        Search
      </button>
    </form> -->

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
          >Login</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
          >Sign up</a
        >
      </li>
    </ul>
  </div>
</nav>
