div.no_movies {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 3em;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

div a {
  font-size: 0.8em;
  color: rgb(161, 62, 62);
  /* text-decoration: none; */
}

div a:hover {
  text-decoration: underline;
}
